* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height:100vh;
}

.input-section {
    width:50%;
    margin:50px auto;
    text-align: center;
}

.input-section h1 {
    font-weight: bold;
    padding-bottom: 20px;
}

.todoInput {
    width:70%;
    height:30px;
    padding-left:20px;
    border-radius: 10px;

}

.buttonToDo {
    background-color: lightblue;
    padding:7px 15px;
    border-radius: 10px;
}

/* sezione toDoList */
.toDoContainer {
    width:60%;
    margin:0 auto;
    padding: 10px 10px;
    text-align: left;
}

.toDoContainer ul {
    background-color: grey;
}

.toDoContainer li {
    list-style: none;
    padding: 10px 0 10px 10px; 
}

.toDoContainer li:hover {
    background-color: lightgray;
}

.toDoContainer li p {
    display: inline-block;
}

.toDoContainer li i{
    float:right;
    margin:5px 10px 0 0;
    cursor:pointer;
}

.throughLine{
    text-decoration: line-through
}


